body {
	font-family: "細明體", monospace;
	font-size: 24px;
	line-height: 1;
	background-color: black;
}

a:link,
a:visited {
	color: inherit;
}

.flash {
	animation: 2s step-end infinite bbs-flash
}

@keyframes bbs-flash {
	0% {
		
	}
	50% {
		color: transparent;
	}
	100% {
		color: transparent;
	}
}

.bbs {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.line {
	min-height: 1em;
	white-space: pre;
}

.line span {
	display: inline-block;
	vertical-align: middle;
}

.half-start,
.half-end {
	overflow: hidden;
}

.half-start::before {
	content: "";
	margin-left: -0.5em;
}

.f0 {color:#000}
.f1 {color:maroon}
.f2 {color:green}
.f3 {color:olive}
.f4 {color:navy}
.f5 {color:purple}
.f6 {color:teal}
.f7 {color:silver}

.f0.l {color:gray}
.f1.l {color:red}
.f2.l {color:#0F0}
.f3.l {color:#FF0}
.f4.l {color:#00F}
.f5.l {color:#F0F}
.f6.l {color:#0FF}
.f7.l {color:#FFF}

.b0 {background-color:#000}
.b1 {background-color:maroon}
.b2 {background-color:green}
.b3 {background-color:olive}
.b4 {background-color:navy}
.b5 {background-color:purple}
.b6 {background-color:teal}
.b7 {background-color:silver}

.w1 {width:0.5em}
.w2 {width:1em}
.w3 {width:1.5em}
.w4 {width:2em}
.w5 {width:2.5em}
.w6 {width:3em}
.w7 {width:3.5em}
.w8 {width:4em}
.w9 {width:4.5em}
.w10 {width:5em}
.w11 {width:5.5em}
.w12 {width:6em}
.w13 {width:6.5em}
.w14 {width:7em}
.w15 {width:7.5em}
.w16 {width:8em}
.w17 {width:8.5em}
.w18 {width:9em}
.w19 {width:9.5em}
.w20 {width:10em}
.w21 {width:10.5em}
.w22 {width:11em}
.w23 {width:11.5em}
.w24 {width:12em}
.w25 {width:12.5em}
.w26 {width:13em}
.w27 {width:13.5em}
.w28 {width:14em}
.w29 {width:14.5em}
.w30 {width:15em}
.w31 {width:15.5em}
.w32 {width:16em}
.w33 {width:16.5em}
.w34 {width:17em}
.w35 {width:17.5em}
.w36 {width:18em}
.w37 {width:18.5em}
.w38 {width:19em}
.w39 {width:19.5em}
.w40 {width:20em}
.w41 {width:20.5em}
.w42 {width:21em}
.w43 {width:21.5em}
.w44 {width:22em}
.w45 {width:22.5em}
.w46 {width:23em}
.w47 {width:23.5em}
.w48 {width:24em}
.w49 {width:24.5em}
.w50 {width:25em}
.w51 {width:25.5em}
.w52 {width:26em}
.w53 {width:26.5em}
.w54 {width:27em}
.w55 {width:27.5em}
.w56 {width:28em}
.w57 {width:28.5em}
.w58 {width:29em}
.w59 {width:29.5em}
.w60 {width:30em}
.w61 {width:30.5em}
.w62 {width:31em}
.w63 {width:31.5em}
.w64 {width:32em}
.w65 {width:32.5em}
.w66 {width:33em}
.w67 {width:33.5em}
.w68 {width:34em}
.w69 {width:34.5em}
.w70 {width:35em}
.w71 {width:35.5em}
.w72 {width:36em}
.w73 {width:36.5em}
.w74 {width:37em}
.w75 {width:37.5em}
.w76 {width:38em}
.w77 {width:38.5em}
.w78 {width:39em}
.w79 {width:39.5em}
.w80 {width:40em}
